<div class="content-page">
  <div class="col-md-2">
    <div class="row">
      <div class="shuli-div-top">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-push-2">
        <div class="shuli center">
          <div class="fangkuai-1"></div><h2><b style="color: darkred"> C E N T E R </b><b> P R O F I L E </b></h2>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="shuli center">
          <h3> </h3><div class="fangkuai-2"></div><h3><b>中心简介</b></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 left-line ">
    <div class="col-md-8 col-md-push-2">
      <ol class="breadcrumb breadcrumb-custom">
        <li><a href="#">首页</a></li>
        <li>交易中心</li>
        <li class="active">中心简介</li>
      </ol>
      <br>
      <p class="p-indent-black">
        湖南藏典电子商务有限公司（简称“藏典茗茶”）是湖南湘商商品交易所荣誉会员单位，专业从事藏品投资服务的公司。在湖南省经济技术协作办公室支持与指导下，由湖南异地商会联合会发起，湖南湘商资本管理有限公司和大汉控股集团作为主投资方联合打造的一个旨在服务湘商、流通湘品、立足湖南、覆盖全国、辐射全球的藏品投资服务平台。
      </p>
      <p class="p-indent-black">
        藏典茗茶目前已为许多客户提供了优质服务，也赢得了众多企业的信赖和好评，逐渐树立起良好的品牌形象，以诚信、实力和产品质量获得业界的高度认可。
      </p>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>