<div class="content-page-list">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="shuli-div-top">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-push-2">
          <div class="shuli center">
            <div class="fangkuai-1"></div><h2><b style="color: darkred"> T E A </b><b> K N O W L E D G E </b></h2>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="shuli center">
            <h3> </h3><div class="fangkuai-2"></div><h3><b>茶知识</b></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 left-line-list ">
      <div class="col-md-8 col-md-push-2">
        <ol class="breadcrumb breadcrumb-custom">
          <li><a href="#">首页</a></li>
          <li>关于茶</li>
          <li class="active">茶知识</li>
        </ol>
        <table datatable=""
               width="100%"
               class="table table-striped"
               ng-if="vm.displayTable"
               dt-options="vm.dtOptions"
               dt-columns="vm.dtColumns">
        </table>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>