@import "./angular/material/project";

.Footer{
    text-align: center;
    background-color: $background;
    border-top: 1px solid $border;
    padding-top: 40px;
    padding-bottom: 40px;
    color: $grey;
    font-weight: 300;
}

.Footer-text{
    padding-top: 10px;
    opacity: 0.8;
    color: $grey;
}

.Footer-link{
    text-decoration: none;
    color: $grey !important;
    font-weight: 400;
}

.Footer-link:hover{
    text-decoration: underline;
}

.Footer-logo{
    width: 49px;
    height: 46px;
}

.main-footer {
    background-color: #353f48;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 0px;
    z-index: 820;
    color: white;
    text-align: center;
    border-top:0px;
}

.main-footer-a {
    color: white;
}