<div class="content-page">
  <div class="col-md-2">
    <div class="row">
      <div class="shuli-div-top">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-push-2">
        <div class="shuli center">
          <div class="fangkuai-1"></div><h2><b style="color: darkred"> C O R P O R A T E </b><b> C U L T U R E </b></h2>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="shuli center">
          <h3> </h3><div class="fangkuai-2"></div><h3><b>企业文化</b></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 left-line ">
    <div class="col-md-8 col-md-push-2">
      <ol class="breadcrumb breadcrumb-custom">
        <li><a href="#">首页</a></li>
        <li>藏典茗茶</li>
        <li class="active">企业文化</li>
      </ol>
      <br>
      <p class="p-indent-black">
        藏典茗茶的文化理念是
      </p>
      <p class="p-indent-black">
        诚信、优质、创新、共赢
      </p>
      <p class="p-indent-black">
        诚信：诚信是藏典茗茶的立足之本，对社会，对客户，对员工以诚信为尊。
      </p>
      <p class="p-indent-black">
        优质：藏典茗茶作为中国茶金融服务平台的佼佼者会全心全意为客户提供一流的产品与服务。
      </p>
      <p class="p-indent-black">
        创新：创新是藏典茗茶生存和发展的灵魂，是藏典茗茶做事的基本态度，是每个员工必须遵守的第一准则。
      </p>
      <p class="p-indent-black">
        共赢，在现代企业经营管理中，是中国传统文化中“和合”思想与西方市场竞争理念相结合的产物。互惠互利，相得益彰，共赢是藏典茗茶发展的愿景。
      </p>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>