

.dl-horizontal-qywh > dt {
  color: #bf3335;
  padding-bottom: 10px;
  padding-right: 15px;
  font-size: large;
}

.dl-horizontal-qywh > dd {
  color: black;
  padding-bottom: 10px;
  font-size: medium;
}

.dl-horizontal-qywh {
  padding-top: 35px;
}