<div class="content-page">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="shuli-div-top">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-push-2">
          <div class="shuli center">
            <div class="fangkuai-1"></div><h2><b style="color: darkred">  C O M P A N Y </b><b> B U S I N E S S </b></h2>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="shuli center">
            <h3> </h3><div class="fangkuai-2"></div><h3><b>公司业务</b></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 left-line ">
      <div class="col-md-8 col-md-push-2">
        <ol class="breadcrumb breadcrumb-custom">
          <li><a href="#">首页</a></li>
          <li>藏典茗茶</li>
          <li class="active">公司业务</li>
        </ol>
        <br>
        <p class="p-indent-black">
          湖南藏典电子商务有限公司主要以“互联网+商品+收藏品”的创新模式推动收藏品市场发展，从而服务国家战略、服务于收藏品实体经济的电子交易业务板块。现有典藏茶：老班章普洱茶、冰岛普洱茶、云南懂过·普洱茶、云南那蕉·普洱茶、云南小勐宋·普洱茶、云南公弄·普洱茶、云南丙山·普洱茶等众多茶品。
        </p>
        <div class="row">
          <img src="img/page/gsyw/06.jpg" class="img-responsive center-block">
          <br>
          <img src="img/page/gsyw/07.jpg" class="img-responsive center-block">
          <br>
          <img src="img/page/gsyw/08.jpg" class="img-responsive center-block">
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>