<div class="content-page">
  <div class="col-md-2">
    <div class="row">
      <div class="shuli-div-top">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-push-2">
        <div class="shuli center">
          <div class="fangkuai-1"></div><h2><b style="color: darkred"> R E L A T E D </b><b> D O W N L O A D </b></h2>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="shuli center">
          <h3> </h3><div class="fangkuai-2"></div><h3><b>软件下载</b></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 left-line ">
    <div class="col-md-10 col-md-push-2">
      <ol class="breadcrumb breadcrumb-custom">
        <li><a href="#">首页</a></li>
        <li>信息中心</li>
        <li class="active">软件下载</li>
      </ol>
      <table class="table">
        <tbody>
        <tr>
          <td class="type-info">
            <img ng-src="img/page/rjxz/download_img1.jpg" class="content-rjxz-pic center-block">
          </td>
          <td>
            <h3>湘商收藏品行情分析系统</h3>
            <p class="p-indent-black">
              系统自动对行情、报价与成交匹配,并联动展示,为用户实时捕捉金融市场机会,提高交易的准确性。 数据与分析紧密结合 展示最新市场动态数据,并提供全方位分析解读,将数据...
            </p>
            <a href="http://www.hnxsscp.com/xsscp/download/soft/xsscpjyzsbyhq.exe" class="btn btn-default">
              <i class="fa fa-cloud-download"></i> 点击下载PC版
            </a>
          </td>
        </tr>
        <tr>
          <td class="type-info">
            <img ng-src="img/page/rjxz/download_img2.jpg" class="content-rjxz-pic center-block">
          </td>
          <td>
            <h3>湘商收藏品交易客户端</h3>
            <p class="p-indent-black">
              交易软件是投资者下达买卖交易指令的软件，通俗的讲交易软件就是下单软件。投资者一般是根据行情软件，分析软件提供的行情数据分析信息进行决策后，通过交易软件下达买卖交易指令完成交易。
            </p>
            <a href="http://www.hnxsscp.com/xsscp/download/soft/xsscpjyzskhd.exe" class="btn btn-default">
              <i class="fa fa-cloud-download"></i> 点击下载PC版
            </a>
          </td>
        </tr>
        <tr>
          <td class="type-info">
            <img ng-src="img/page/rjxz/download_img3.png" class="content-rjxz-pic center-block img-responsive">
          </td>
          <td>
            <h3>湘商收藏品手机交易软件下载</h3>
            <p class="p-indent-black">
              手机交易软件是投资者在手机终端下达买卖交易指令的软件，通俗的讲手机交易软件就是手机下单软件。
            </p>
            <a href="http://www.hnxsscp.com/xsscp/download/soft/scp_V2.0.3.ipa" class="btn btn-default">
              <i class="fa fa-apple"></i> 点击下载苹果版
            </a>
            <br>
            <a href="http://www.hnxsscp.com/xsscp/download/soft/scp_v2.0.5.apk" class="btn btn-default">
              <i class="fa fa-android"></i> 点击下载安卓版
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>