<div class="content-page content-page-khlc">
  <div class="col-md-2">
    <div class="row">
      <div class="shuli-div-top">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-push-2">
        <div class="shuli center">
          <div class="fangkuai-1"></div><h2><b style="color: darkred"> O P E R A T I O N </b><b> F L O W </b></h2>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="shuli center">
          <h3> </h3><div class="fangkuai-2"></div><h3><b>开户流程</b></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 left-line-khlc ">
    <div class="col-md-8 col-md-push-2">
      <ol class="breadcrumb breadcrumb-custom">
        <li><a href="#">首页</a></li>
        <li>信息中心</li>
        <li class="active">开户流程</li>
      </ol>
      <h3>湘商收藏品网上自助开户流程</h3>
      <div class="row">
        <p class="p-indent-black">
          <span data-toggle="tooltip" title="第一步" class="label label-danger">1</span>
          点击在线开户后，点击开户申请
        </p>
        <img ng-src="img/page/khlc/guide_user1.jpg" class="content-khlc-pic center-block img-responsive">
      </div>
      <div class="row">
        <p class="p-indent-black">
          <span data-toggle="tooltip" title="第二步" class="label label-danger">2</span>
          输入您已知的5位数的经纪会员代码
        </p>
        <img ng-src="img/page/khlc/guide_user2.jpg" class="content-khlc-pic center-block img-responsive">
      </div>
      <div class="row">
        <p class="p-indent-black">
          <span data-toggle="tooltip" title="第三步" class="label label-danger">3</span>
          填写您的个人信息并认真阅读《风险提示书》、《入市协议书》后勾选，点击立即开户。电子邮箱是接收开户信息及入市协议书的，请务必填写正确的电子邮箱。请点击银行账号认证。
        </p>
        <img ng-src="img/page/khlc/guide_user3.jpg" class="content-khlc-pic center-block img-responsive">
      </div>
      <div class="row">
        <p class="p-indent-black">
          <span data-toggle="tooltip" title="第四步" class="label label-danger">4</span>
          网上开户注册完成，上传等待审核
        </p>
        <img ng-src="img/page/khlc/guide_user4.jpg" class="content-khlc-pic center-block img-responsive">
      </div>
      <div class="row">
        <p class="p-indent-black">
          <span data-toggle="tooltip" title="第五步" class="label label-danger">5</span>
          交易中心审核通过，客户邮箱会收到账号和密码。 如客户资料不符合驳回，客户重新登录官网，重新注册
        </p>
        <img ng-src="img/page/khlc/guide_user5.jpg" class="content-khlc-pic center-block img-responsive">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>