<div class="content-puertea">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h1 class="h-title-b"><strong><span>PUER</span> TEA</strong>
      <br><strong>普洱茶</strong>
      </h1>
      <p class="p-indent">
        普洱茶是以中国云南省一定区域内云南大叶种晒青毛茶为原料，经过发酵加工成的散茶和紧压茶。其中包括历史上经自然发酵而成的普洱茶（存放也是一种加工方式），也包括现今人工发酵和自然发酵的普洱茶。[3]
      </p>
      <p class="p-indent">
        据考证银生城的茶是云南大叶茶种，也就是普洱茶种。所以银生城产的茶叶，应该是普洱茶的祖宗。所以 ，清朝阮福在《普洱茶记》中说：“普洱古属银生府。则西蕃之用普洱， 已自唐时。” 宋朝 李石在他的《续博物志》一书也记载了：“茶出银生诸山，采无时，杂菽姜烹而饮之。”
      </p>
      <p class="p-indent">
        元朝有一地名叫“步日部”，由于后来写成汉字，就成了“普耳”(当时“耳”无三点水)。普洱一词首见于此，从此得以正名写入历史。没有固定名称的云南茶叶， 也被叫做“普茶”逐渐成为西藏、新疆等地区市场买卖的必需商品。普茶一词也从此名震国内外，直到明朝末年，才改叫普洱茶。
      </p>
      <a ui-sref='page.aboutafjj' class="a-more">更多</a>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<img-carousel></img-carousel>
<!--<pages-cyxw></pages-cyxw>-->
<!--<pages-hyxw></pages-hyxw>-->
<pages-hzjg></pages-hzjg>
