<div class="content-cyxw">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h1 class="h-title-b"><strong><span>INDUSTRY</span> NEWS</strong>
        <br><strong>产业新闻</strong>
      </h1>

    </div>
    <div class="row">
      <div class="col-xs-4"><span class="label label-danger label-cyxw">普洱茶新闻</span></div>
      <ul class="ul-cyxw">
        <li><p>探秘落幕，前行不止</p></li>
        <li><p>【老茶故事】号级茶系列--宋聘好圆茶</p></li>
        <li><p>2016让你闻着茶香把钱赚了</p></li>
        <li><p>普洱当股票一样交易？大圆普洱交易平台隆重上线！</p></li>
        <li><p>云南茶山的普洱茶产量有多少？</p></li>
      </ul>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>