.content-cdmc {
  background-color: black;
  width: 100%;
  height: 560px;
}

.h-title-w {
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}

.h-title-w > strong > span {
  //border-bottom: 2px solid white;
  color: #b9282d;
}
