.header-nav-bar1 {
  background-color: black;
  height: 90px;
}

.navbar1 {
  //position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.logo {
  background-image: url("/img/阿凡交易所logo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  //background-attachment: fixed;
  background-color: transparent;
  margin-left: 120px;
  margin-top: 20px;
}

.navbar-nav {
  padding-left: 100px;
}

.dropdown-toggle-custom {
  color: white;
  width: 140px;
  text-align: center;
  background-color: black;
}

.navbar-nav > li > a {
  background-color: black;
  color: white;
  opacity: 0.65;-moz-opacity: 0.65;filter:alpha(opacity=65);
}

.nav .open > a:focus ,
.nav .open > a:hover ,
.nav .open > a:active ,
.nav .open > a:link ,
.nav .open > a:visited {
  background-color: black;
  color: white;
  border-color: white;
}

.nav > li > a:focus ,
.nav > li > a:hover ,
.nav > li > a:active ,
.nav > li > a:link ,
.nav > li > a:visited {
  background-color: black;
  color: white;
  border-color: white;
}

.dropdown-toggle-dashed {
  border-left: 3px dashed white;
}

.user-body-1 {
  text-align: center;

}
.navbar-nav>.notifications-menu>.dropdown-menu,
.navbar-nav>.messages-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
  width: 13.33%;
  top: 136%;
  left: -8%;
  border-color:black;
}

.dropdown-menu-1 {
  background-color: black;
  width: 100px;

}
.dropdown-menu-1 > li > div > div > a {
  color: white;
}

.a-title-header-nav-bar{
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-title-header-nav-bar{
  padding-top: 15px;
  padding-bottom: 15px;
}

