.content-hzjg {
  height: 720px;
  background-color: #ba292e;
}

.content-hzjg-map {
  padding-top: 100px;
  padding-bottom: 30px;
}

.content-hzjg-row-line {
  border-bottom: 1px solid whitesmoke;
}

.content-hzjg-p {
  color: white;
  padding-top: 15px;
  font-size: medium;
}
//.content-hzsj-list > div {
//  background-color: white;
//}
.content-hzsj-list > div > img{
  padding-top: 20px;

}