<div class="content-hzjg" id="content-hzjg">
  <div class="row">
    <div class="col-xs-6 col-xs-push-3">
      <img ng-src="img/page/hzjg/map.jpg" class="img-responsive center-block content-hzjg-map">
      <div class="row content-hzjg-row-line">
        <div class="col-md-5 ">
          <p class="content-hzjg-p">
            <span class="glyphicon glyphicon-map-marker"></span> &nbsp;&nbsp;上海市长宁区延安西路726号华敏翰尊2楼
          </p>
        </div>
        <div class="col-md-4 col-xs-push-2">
          <p class="content-hzjg-p">
            <span class="glyphicon glyphicon-earphone"></span> &nbsp;&nbsp;400-855-0808
          </p>
        </div>
      </div>
      <div class="row content-hzjg-row-line">
        <div class="col-md-4">
          <p class="content-hzjg-p">
            <span class="fa fa-fw fa-qq"></span> &nbsp;&nbsp;3078315607
          </p>
          <p class="content-hzjg-p">
            <span class="fa fa-fw fa-qq"></span> &nbsp;&nbsp;3153189743
          </p>
        </div>
      </div>
      <div class="row">
        <p class="content-hzjg-p">
          合作商家：
        </p>
      </div>
      <div class="row ">
        <div class="row content-hzsj-list">
          <div class="col-xs-3">
            <img ng-src="img/logo/logo1.jpg" class="img-responsive center-block">
          </div>
          <div class="col-xs-3">
            <img ng-src="img/logo/logo2.jpg" class="img-responsive center-block">
          </div>
          <div class="col-xs-3">
            <img ng-src="img/logo/logo4.jpg" class="img-responsive center-block">
          </div>
          <div class="col-xs-3">
            <img ng-src="img/logo/logo5.jpg" class="img-responsive center-block">
          </div>
        </div>
        <div class="row content-hzsj-list">
          <div class="col-xs-3">
            <img ng-src="img/logo/logo6.jpg" class="img-responsive center-block">
          </div>
          <div class="col-xs-3">
            <img ng-src="img/logo/logo8.jpg" class="img-responsive center-block">
          </div>
          <div class="col-xs-3">
            <img ng-src="img/logo/logo16.jpg" class="img-responsive center-block">
          </div>
          <div class="col-xs-3">
            <img ng-src="img/logo/logo17.jpg" class="img-responsive center-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>