<div class="float-view">
  <div class="top-float-custom">
    <!--<div class="col-md-4">-->
      <div class="box box-widget widget-user-2">
        <div class="widget-user-header bg-yellow">
          <div class="widget-user-image">
            <img class="img-circle" src="/img/page/float/qq.png" alt="QQ 客服">
          </div>
          <h3 class="widget-user-username">QQ</h3>
          <h5 class="widget-user-desc">在线客服</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav ">
            <li>
              <a href="http://wpa.qq.com/msgrd?v=3&uin=3078315607&site=qq&menu=yes">
                <span class="fa fa-fw fa-qq"></span>
                在线客服--小美
              </a>
            </li>
            <li>
              <a href="http://wpa.qq.com/msgrd?v=3&uin=3153189743&site=qq&menu=yes">
                <span class="fa fa-fw fa-qq"></span>
                在线客服--小燕
              </a>
            </li>
          </ul>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>

