<div class="content-page">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="shuli-div-top">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-push-2">
          <div class="shuli center">
            <div class="fangkuai-1"></div><h2><b style="color: darkred">  T H E O R Y  O F </b><b> B U S I N E S S </b></h2>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="shuli center">
            <h3> </h3><div class="fangkuai-2"></div><h3><b>经营理念</b></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 left-line ">
      <div class="col-md-8 col-md-push-2">
        <ol class="breadcrumb breadcrumb-custom">
          <li><a href="#">首页</a></li>
          <li>藏典茗茶</li>
          <li class="active">经营理念</li>
        </ol>
        <br>
        <p class="p-indent-black">
          湖南藏典电子商务有限公司致力挖掘普洱茶产品和普洱茶文化的价值，拓展大众投资渠道，推广普洱茶的品鉴、消费和收藏，拓展普洱茶的市场，增加普洱茶的市场流通性和流动性。补充和扩展普洱茶产业链，提供专业的多样化服务功能，包括打造普洱茶藏品集散中心、普洱茶托管交收中心、普洱茶投资理财中心、普洱茶学术中心、普洱茶大数据中心等服务板块，进而形成普洱茶交易指数，使之成为助推普洱产业标准化、现代化和国际化。
        </p>
        <p class="p-indent-black">
          藏典茗茶目前已为许多客户提供了优质服务，也赢得了众多企业的信赖和好评，逐渐树立起良好的品牌形象，以诚信、实力和产品质量获得业界的高度认可。
        </p>
        <div class="row">
          <img src="img/page/jyln/04.jpg" class="img-responsive center-block">
          <br>
          <img src="img/page/jyln/05.jpg" class="img-responsive center-block">
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>